body{
    margin: 0 auto;
}
.head_photo{
    position: absolute;
    width: 101.62px;
    height: 23px;
    left: 669px;
    top: 40px;
}

.tittle_photo{
    width: 1438px;
    height: 769px;
    left: 1px;
    top: -1px;
}

.tittle_text{
    position: absolute;
    width: 576px;
    height: 60px;
    left: 435px;
    top: 380px;
    
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    line-height: 70px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 5.40937px;

    color: white;
}

.tittle_text1{
    position: absolute;
    width: 386px;
    height: 22px;
    left: 527.5px;
    top: 480px; 

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;

    display: flex;
    align-items: flex-end;
    text-align: center;

    color: white;
}

.tittle_text2{
    position: absolute;
    width: 120px;
    height: 15px;
    left: 670px;
    top: 682px;

    font-family: 'Open Sans', sans-serif;
    display: flex;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    align-items: flex-end;
    letter-spacing: 3px;

    color: white;
    
}

.menu_photo{
    position:relative;
    padding: 0%;
    top: 24px;
    left: 250px;
    width: 79.53px;
    height: 18px;
    padding: 24px;
}
.menu_text{
    list-style-type: none;
}

.menu_text_table1{
    position: absolute;
    list-style-type: none;
    width: 40px;
    height: 16px;
    left: 781.5px;
    top: 815px;


    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 1.09091px;

}
.menu_text_table2{
    position: absolute;
    width: 47px;
    height: 16px;
    left: 869.5px;
    top: 815px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 1.09091px;

    color: #00A4E5;
}

.menu_text_table3{
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    width: 61px;
    height: 10px;
    left: 959px;
    top: 815px;

    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    

}
.menu_text_table4{
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    width: 40px;
    height: 16px;
    left: 1059px;
    top: 815px;

    font-weight: 600;
    font-size: 12px;
    line-height: 16px;  

}
.menu_text_table5{
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    width: 40px;
    height: 16px;
    top: 815px;
    left: 1129px;

    font-size: 12px;
    line-height: 16px;
}



.hr_menu{
    border: 1px solid #E6E6E6;
    
}
.our_story{
    text-align: center;
    letter-spacing: 2.30625px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    top: 790px;
    
    color: #48555B
}
.line1{
    position: absolute;
    border: 2px solid #00A4E5;
    width: 50px;
    height: 0.6px;
    left: 695px;
    top: 910px;
    background-color: #00A4E5;
}

.about_text{
    position: absolute;
    width: 405.08px;
    height: 81px;
    left: 249px;
    top: 930px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    align-items: flex-end;
    letter-spacing: 0.1875px;
}

.about_text2{
    position: absolute;
    width: 405.08px;
    height: 115px;
    left: 249px;
    top: 1050px;

    font-family: Open Sans;
    font-size: 13px;
    line-height: 23px;  

    display: flex;
    align-items: center;
    letter-spacing: 0.1875px;

    color: #48555B;
}

.about_plan{
    position: absolute;
    width: 150px;
    height: 200px;
    left: 882px;
    top: 970px;
}
.text_plan{
    position: absolute;
    width: 68px;
    height: 58px;
    left: 887px;
    top: 960px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
}

.about_manage{
    position: absolute;
    width: 150px;
    height: 200px;
    left: 1062px;
    top: 970px;
}

.text_manage{
    position: absolute;
    width: 68px;
    height: 58px;
    top: 960px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 1067px;
    color: white;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
}

.about_build{
    position: absolute;
    width: 150px;
    height: 200px;
    top: 970px;
    left: 1242px;

}

.text_build{
    position: absolute;
    width: 68px;
    height: 58px;
    top: 960px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 1247px;
    color: white;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
}

.our_capabilities{
position: absolute;
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;


display: flex;
align-items: flex-end;
letter-spacing: 2.30625px;
left: 250px;
top: 1200px;
}

.our_text{
    position: absolute;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 19px;
    top: 1200px;
    left: 603px;

    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
}

.services{
    position: absolute;
    width: 150px;
    height: 40px;
    left: 1039px;
    top: 1206px;

    background: #00A4E5;
}

.all_services{
    position: absolute;
    width: 92px;
    height: 18px;
    left: 1068px;
    top: 1206px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;

    display: flex;
    letter-spacing: 0.5px;
    color: white;
}

.line_our{
    position: absolute;
    width: 50px;
    height: 2px;
    left: 250px;
    top: 1250px;

    border: 1px solid #00A4E5;
    background-color: #00A4E5 ;
}

.project_square{
    position: absolute;
    width: 295px;
    height: 330px;
    left: 250px;
    top: 1330px;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
}

.pencil{
    position: absolute;
    width: 65.62px;
    height: 75px;
    left: 273px;
    top: 1368px;
}

.project_h3{
    position: absolute;
    width: 250px;
    height: 48px;
    top: 1445px;
    left: 273px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #48555B;
}

.project_text{
    position: absolute;
    width: 250px;
    height: 92px;
    left: 273px;
    top: 1500px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;
}

.magazine_square{
    position: absolute;
    width: 295px;
    height: 330px;
    left: 573px;
    top: 1330px;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;

}

.magazine_picture{
    position: absolute;
    width: 67.74px;
    height: 75px;
    left: 590px;
    top: 1368px;

}

.structure_h3{
    position: absolute;
    width: 250px;
    height: 48px;
    top: 1445px;
    left: 590px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.426667px;
}

.structure_text{
    position: absolute;
    width: 250px;
    height: 92px;
    top: 1500px;
    left: 590px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1875px;
}

.factory_square{
    position: absolute;
    width: 295px;
    height: 330px;
    left: 894px;
    top: 1330px;

    border: 1px solid #E6E6E6;
    box-sizing: border-box;

}

.factory_img{
    left: 917px;
    top: 1368px;
    position: absolute;
    width: 65.62px;
    height: 75px;

}

.factory_h3{
    position: absolute;
    width: 250px;
    height: 48px;
    top: 1445px;
    left: 917px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    letter-spacing: 0.426667px;
    font-size: 16px;
    line-height: 24px;

}

.factory_text{
    position: absolute;
    left: 917px;
    top: 1500px;
    width: 250px;
    height: 92px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.1875px;


}

.town{
    position: absolute;
    width: 1440px;
    height: 498.24px;
    top: 1775px;

}

.town_question{
    position: absolute;
    width: 350px;
    height: 72px;
    left: 545px;
    top: 1895px;

    font-size: 30px;
    line-height: 36px;
    text-align: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.15px;
}

.get_button{
    position: absolute;
    width: 150px;
    height: 40px;
    left: 645px;
    top: 2002px;
    background-color: #00A4E5;
}

.get_touch{
    position: absolute;
    width: 98px;
    height: 18px;
    top: 2003px;
    left: 671px;

    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFFFFF;
}

.black_theame{
    position: absolute;
    width: 1440px;
    height: 100px;
    margin: 0px;
    top: 2272px;

    background-color: #171819;

}

.newsletter_signup{
    position: absolute;
    width: 216px;
    height: 30px;
    left: 378px;
    top: 2307px;

    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    font-family: open Sans;
    color: #FFFFFF;

}

.email{
    position: absolute;
    width: 250px;
    height: 40px;
    left: 595px;
    top: 2310px;

    color: black;
    
}

.signup_square{
    position: absolute;
    width: 150px;
    height: 47px;
    left: 850px;
    top: 2310px;

    background: #00A4E5;
    color: #00A4E5;

}

.signup_text{
    position: absolute;
    width: 52px;
    height: 18px;
    left: 898.5px;
    top: 2310px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFFFFF;
}

.end_square{
    position: absolute;
    height: 240px;
    width: 1440px;
    top: 2372px;

    background-color: #141A20;
}

.company{
    position: absolute;
    width: 59px;
    height: 15px;
    top: 2414px;
    left: 249px;

    display: flex;
    text-align: center;
    letter-spacing: 0.846154px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFFFFF;
}

.logo{
    position: absolute;
    width: 120px;
    height: 20px;
    left: 249px;
    top: 2470.8px;

}

.end_text{
    position: absolute;
    width: 250px;
    height: 76px;
    top: 2497.3px;
    left: 249px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11px;
    line-height: 19px;
    align-items: center;
    letter-spacing: 0.85px;
    color: #FFFFFF;
}

.link{
    position: absolute;
    width: 34px;
    height: 15px;
    left: 570px;
    top: 2414px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFFFFF;
    text-align: center;
    align-items: center;
    letter-spacing: 0.85px;
}

.links_information{
    position: absolute;
    width: 76px;
    height: 125px;
    top: 2457.8px;
    left: 530px;
    list-style-type:none;

    font-weight: 600;
    font-size: 11px;
    line-height: 25px;
    align-items: center;
    letter-spacing: 0.846154px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFFFFF;
}

.faq_information{
    position: absolute;
    width: 52px;
    height: 75px;
    top: 2457.8px;
    left: 640px;
    list-style-type: none;

    font-weight: 600;
    font-size: 11px;
    line-height: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFFFFF;
    letter-spacing: 0.846154px;
}

.interesting_information{
    position: absolute;
    width: 62px;
    height: 75px;
    left: 760px;
    top: 2457.8px;

    list-style-type: none;
    font-weight: 600;
    font-size: 11px;
    line-height: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFFFFF;

}

.contact{
    position: absolute;
    width: 75px;
    height: 15px;
    left: 900px;
    top: 2414px;

    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.846154px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFFFFF;
    
}

.contacts{
    position: absolute;
    width: 141px;
    height: 128px;
    left: 860px;
    top: 2457.8px;

    list-style-type: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    align-items: center;
    letter-spacing: 0.846154px;

}

.facebook_1{
    position: absolute;
    width: 24.04px;
    height: 24.04px;
    top: 2457.8px;
    left: 1085.5px;
}

.twitter{
    position: absolute;
    width: 24.04px;
    height: 24.04px;
    top: 2457.8px;
    left: 1134.5px;

}

.google{
    position: absolute;
    width: 24.04px;
    height: 24.04px;
    top: 2457.8px;
    left: 1184px;
    
}

.square_end{
    position: absolute;
    width: 1440px;
    height: 60px;
    top: 2612px;


    background: #171819;

}

.Konst{
    position: absolute;
    height: 15px;
    left: 571px;
    top: 2630px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11px;
    line-height: 15px;
    align-items: flex-end;
    color: #FFFFFF;
    letter-spacing: 0.846154px;
}